@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  color: white;
  font-family: "Space Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  height: 100vh;
  display: grid;
}

body::-webkit-scrollbar {
  display: none;
}

.page-grid {
  display: grid;
  grid-template-rows: repeat(4, 750px) 250px;
}

.page-header {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-areas: "logo nav contact";
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 150px;
}

.page-logo {
  font-size: 22px;
}

.left {
  grid-area: logo;
  justify-self: end;
}

.nav-bar {
  grid-area: nav;
  justify-self: center;
  width: 400px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-button {
  background-color: transparent;
  font-size: 14px;
  height: 50px;
  padding: 0 20px;
  border-radius: 50px;
  transition: background-color 0.25s linear, color 0.15s linear;
}

.nav-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.right {
  grid-area: contact;
  justify-self: start;
}

.border-button {
  width: 150px;
  height: 50px;
  border: 2px solid white;
  font-size: 14px;
  border-radius: 50px;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out, color 0.15s linear;
}

.border-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.top-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./media/imagenes/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-section-container {
  width: 1000px;
  height: 400px;
  display: grid;
  grid-template: 1fr 100px / 1fr 100px;
  grid-template-areas:
    "title ."
    "pm cd";
  align-items: center;
}

.top-left {
  grid-area: title;
}

.title {
  width: 600px;
}

.page-title {
  font-size: 80px;
  margin-bottom: 75px;
}

.play-music {
  grid-area: pm;
  background-color: black;
  height: 75px;
  width: 250px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.play-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  margin: 0 15px;
}

.play-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.play-button > .fa-solid {
  font-size: 50px;
}

.play-music-text {
  font-size: 22px;
  margin-left: 5px;
}

.cd {
  grid-area: cd;
}

.calculator,
.soundboard,
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-us {
  position: relative;
  z-index: 1;
}

.section-title {
  font-size: 54px;
  margin-bottom: 50px;
}

table {
  text-align: center;
}

tr {
  height: 60px;
}

td {
  width: 250px;
}

.nota-input,
.reset-btn {
  height: 40px;
  width: 200px;
  border-radius: 50px;
}

.reset-btn,
.submit-btn {
  font-weight: 700;
  background-color: #508cff;
  transition: background-color 0.25s ease-in-out;
}

.reset-btn:hover,
.submit-btn:hover {
  background-color: #407cea;
  cursor: pointer;
}

.nota-input {
  color: black;
  padding: 0 15px;
  text-align: right;
}

.nota-input:focus {
  outline: none;
}

.grado-cont {
  display: flex;
  justify-content: center;
}

.grado {
  background-color: gray;
  width: 200px;
  height: 40px;
  border-radius: 50px;
}

.resultado {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: center;
}
.promedio-color {
  background-color: gray;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.spin {
  animation: spinning 0.5s infinite linear;
}

.stop-spin {
  animation: stop 0.5s ease-in;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stop {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button-grid {
  display: grid;
  grid-template: repeat(3, 150px) / repeat(4, 150px);
  align-items: center;
  justify-content: center;
}

.button-grid > div {
  display: grid;
  justify-content: center;
  align-items: center;
}

.sound-button {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  justify-self: center;
  background-color: transparent;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}

.sound-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.sound-button > img {
  width: inherit;
  height: inherit;
}

.sound-text {
  font-size: 12px;
  margin-top: 15px;
  justify-self: center;
}

.contact-form {
  display: grid;
  align-items: center;
  justify-content: center;
}

.text-input {
  color: black;
  border-radius: 15px;
  width: 250px;
  height: 50px;
  padding: 0 15px;
  margin: 0 5px;
}

.text-input:focus {
  outline: none;
}

.text-message {
  margin: 15px 5px;
  color: black;
  border-radius: 15px;
  width: 520px;
  height: 200px;
  resize: none;
  padding: 15px;
  font-size: 14px;
}

.text-message:focus {
  outline: none;
}

.submit-btn {
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  justify-self: center;
}

.invalid-input {
  border: 2px solid #ff7a7a;
  color: #ff7a7a;
}

.contact-element,
.space-bg {
  transition: opacity 0.5s ease-in;
}

.hide-contact {
  opacity: 0;
}

.contact-bg {
  height: 100%;
  width: 100%;
}

.space-bg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.amongus-float {
  opacity: 0;
  position: absolute;
  transform: scale(0.25);
  z-index: -1;
  transition: opacity 0.25s ease-in;
}

.ejected {
  opacity: 1;
  animation: ejected 5s linear;
}

@keyframes ejected {
  0% {
    transform: translateX(-150%) scale(0.25) rotate(0deg);
  }
  25% {
    transform: translateX(-75%) scale(0.25) rotate(-180deg);
  }
  50% {
    transform: translateX(0%) scale(0.25) rotate(-360deg);
  }
  75% {
    transform: translateX(75%) scale(0.25) rotate(-540deg);
  }
  100% {
    transform: translateX(150%) scale(0.25) rotate(-720deg);
  }
}
